<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Al madina</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    {% if item %}
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">O'zbek tilida</h5>
                    <p class="card-text">{{item.text_uz}}</p>
                    {% if item.audio_uz %}
                    <audio controls>
                        <source src="https://almadina.joseph.uz/{{item.audio_uz}}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Arabic</h5>
                    <p class="card-text">{{item.text_ar}}</p>
                    {% if item.audio_ar %}
                    <audio controls>
                        <source src="https://almadina.joseph.uz/{{item.audio_ar}}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Russian</h5>
                    <p class="card-text">{{item.text_ru}}</p>
                    {% if item.audio_ru %}
                    <audio controls>
                        <source src="https://almadina.joseph.uz/{{item.audio_ru}}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <h1>No data</h1>
    {% endif %}

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
